body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    /* Makes the div and footer in index.hbs flexible */
    display: flex;
    flex-direction: column;
    /* Take entire browser height */
    min-height: 100vh;
}

.main-content {
    /* Main content should take all remaining space */
    flex-grow: 1; 
}

footer {
    color: #6262cb;
    border-top: 1px solid #3e3880;
    margin-top: 16px ;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    color: #231b7c;
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #3e3880;
    margin-right: 16px;
    text-decoration: none;
}

.art {
    width: 450px;
} 

input {
    border: 1px solid #9e9c9c;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #626262;
    background: #626262;
    color: white;
    padding: 8px;
    border-radius: 5px;
}